*, *::after, *::before {
    box-sizing: border-box;
  }
  
  :root {
    --hue: 200;
    --saturation: 50%;
    --foreground-color: hsl(var(--hue), var(--saturation), 75%);
    --background-color: hsl(var(--hue), var(--saturation), 20%);
  }
  
  body {
    margin: 0;
    background-color: lightskyblue;
    overflow: hidden;
  }
  
  .paddle {
    --position: 50;
  
    position: absolute;
    background-color: lightseagreen;
    top: calc(var(--position) * 1vh);
    transform: translateY(-50%);
    width: 1vh;
    height: 20vh;
  }
  
  .paddle.left {
    left: 1vw;
  }
  
  .paddle.right {
    right: 1vw;
  }
  
  .ball {
    --x: 50;
    --y: 50;
  
    position: absolute;
    background-color: lightseagreen;
    left: calc(var(--x) * 1vw);
    top: calc(var(--y) * 1vh);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    width: 2.5vh;
    height: 2.5vh;
  }
  
  .score {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 7vh;
    color: lightseagreen;
  }
  
  .score > * {
    flex-grow: 1;
    flex-basis: 0;
    padding: 0 2vh;
    margin: 1vh 0;
    opacity: .5;
  }
  
  .score > :first-child {
    text-align: right;
    border-right: .5vh solid lightseagreen;
  }

  @import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');


.container {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  width: 180px;
  height: 60px;
  position: absolute;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #4F95DA;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: var(--foreground-color);
  font-size: 18px;
  font-weight: 100;
}

h1 {
 text-align: center;
padding-top: 150px;
padding-bottom: 80px;
}
h2 {
  display: flex;
  padding-top:70px;
  justify-content: center;
  font-weight: bold;
  font-size: 4vh;
  color: lightseagreen;
}

.idk{
display: flex;
justify-content: center;
align-items: center;
color: lightseagreen;
font-size: 3vh;
}

ul {
  padding-top: -25px;
}

span{
  color:lightseagreen
}